* {
    margin: 0;
    padding: 0;
}

#search {
    text-align: center;
}

#cards-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 400px);
}

.card img {
    margin: 10px;
    width: 280px;
}